{% extends 'base.html' %}

{% block content %}
	{{ super() }}
	{% for cat, msg in get_flashed_messages(True) %}
	<div>{{ cat }} : {{msg}}</div>
	{% endfor %}
	<form action="" method="post" class="form-contact">

		<p>Категория: <select name="cat">
			<option value="0">Не выбрана</option>
		{% for cat in categories %}
			<option value="{{ cat.id }}">{{ cat.title }}</option>
		{% endfor %}
		</select></p><br>

		{{ form.hidden_tag() }}
	    <div>{{ form.title.label() }} {{ form.title(class_='input-fields') }}</div>
		<div>{{ form.ref.label() }} {{ form.ref(class_='input-fields') }}</div>
		<div>{{ form.text.label() }} {{ form.text(class_='input-area') }}</div>
		<br>
		<div>{{ form.submit(class_='button') }}</div>

	</form>
{% endblock %}