<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen" />
  <title>MSdeveloper</title>
</head>

<body>
  <div id="top">
    <div class="content">
      <div id="menu">
        <ul>
          {% if session['admin_logged'] == 1 %}
          <li><a class="current" href="{{ url_for('admin.index') }}"><span>ADMIN</span></a></li>
          <li><a href="{{ url_for('add_category') }}"><span>ADD CATEGORY</span></a></li>
          <li><a href="{{ url_for('add_post') }}"><span>ADD POST</span></a></li>
          <li><a href="{{ url_for('admin.logout') }}"><span>SIGN OUT</span></a></li>
          {% else %}
          <li><a href="{{ url_for('admin.login') }}"><span>SIGN IN</span></a></li>
          {% endif %}
        </ul>
      </div>
      <h1><a href="{{ url_for('category') }}">MS Development</a></h1>
      <h2>Блог о web-разработке на Python</h2>
    </div>
  </div>
  <div class="content">
    <div id="main">

      <div class="left_side">
        <div class="pad">
          <h3>Categories:</h3>
          <ul>
            {% for cat in categories %}
              <li><a href="{{ url_for('category') + cat.ref }}"><span>{{ cat.title }}</span></a></li>
            {% endfor %}
          </ul>
          {% block subcategory %}
          {% endblock %}
        </div>
      </div>
      <div id="right_side">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="right">&copy; 2022</div>
    </div>
  </div>
</body>

</html>