<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen" />
  <title>MSdeveloper</title>
</head>

<body>
  <div id="top">
    <div class="content">
      <div id="menu">
        <ul>
          <li><a class="current" href="{{ url_for('category') }}"><span>HOME</span></a></li>
          <li><a href="{{ url_for('add_category') }}"><span>ADD CATEGORY</span></a></li>
          <li><a href="{{ url_for('add_post') }}"><span>ADD POST</span></a></li>
          <li><a href="#"><span>SIGN IN</span></a></li>
        </ul>
      </div>
      <h1><a href="{{ url_for('category') }}">MS Development</a></h1>
      <h2>Блог о web-разработке на Python</h2>
    </div>
  </div>
  <div class="content">
    <div id="main">

      <div class="left_side">
        <div class="pad">
          <h3>Categories:</h3>
          <ul>
            {% for cat in categories %}
              <li><a href="{{ url_for('category') + cat.ref }}"><span>{{ cat.title }}</span></a></li>
            {% endfor %}
<!--            <li><a class="current" href="#">Home</a></li>-->
<!--            <li><a href="#">Python</a></li>-->
<!--            <li><a href="#">Django</a></li>-->
<!--            <li><a href="#">SQL</a></li>-->
<!--            <li><a href="#">Re</a></li>-->
          </ul>
          {% block subcategory %}
          {% endblock %}
<!--          <h3>Subcategories:</h3>-->
<!--          <ul>-->
<!--            <li><a class="current" href="#">Home</a></li>-->
<!--            <li><a href="#">Типы данных</a></li>-->
<!--            <li><a href="#">ООП</a></li>-->
<!--            <li><a href="#">pip</a></li>-->
<!--          </ul>-->
        </div>
      </div>
      <div id="right_side">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="right">&copy; 2022</div>
    </div>
  </div>
</body>

</html>